# Day 1 - Exercises: Recap of Python fundamentals

In today's exercises, we'll practice the material that covered in this morning's lecture.

Some problems at the end of the exercise notebook are marked as _optional_. Your progress on those problems won't be assessed: these problems have been provided as an additional challenge for people that have found the earlier problems straightforward.

## 1. Tennis

The cost of a tennis racket is £50, while a dozen balls cost £30. How much will it cost Michael if he needs 2 rackets and 4 balls?

In [2]:
cost_of_a_racket = 50
dozen_of_ball = 30

# Michael expense for 2 rackets and 4 balls
expense = (2*cost_of_a_racket) + (4 * dozen_of_ball/12)
print(f"Michael would spend £{expense} for 2 rackets and 4 balls")

Michael would spend £110.0 for 2 rackets and 4 balls

## 2. Even numbers

Using a `while` loop, print the first 200 even numbers.

In [ ]:
num = 2
while num <= 200:
    if(num % 2 == 0):
        print("{0}".format(num))
    num += 1
print(num[:200])

In [1]:
num = 2
count = 0
while count < 200:
    print(num, end=" ")
    num += 2
    count += 1
#print(num[:200])

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400

## 2.1 Even numbers, part 2

Using a `for` loop, print the first 200 even numbers.

In [18]:
first_two_hun = []
for i in range (1, 1000):
    if i % 2 == 0:
        first_two_hun.append(i)
print(first_two_hun[:200])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400]

In [19]:
len(first_two_hun[:200])

200

## 3. Data types

Given this list:
`data_types = ["a", "b", "c", 2, 4, 6, 8, 10, True, True, False, 4.5, 3.87, 11.73]`

Print only:
- the strings;
- the integers;
- the floats;
- the boolean values.

The list of values of each type should be on a separate line.

In [2]:
data_types = ["a", "b", "c", 2, 4, 6, 8, 10, True, True, False, 4.5, 3.87, 11.73]

In [16]:
# using list comprehension

In [13]:
strings = [x for x in data_types if isinstance(x, str)]
integers = [x for x in data_types if type(x) is int]
floats = [x for x in data_types if isinstance(x, float)]
boolean = [x for x in data_types if isinstance(x, bool)]

In [17]:
# using for loops

In [19]:
the_strings = []
the_integers = []
the_floats = []
the_bools = []

for element in data_types:
    if type(element) == str:
        the_strings.append(element)
    elif type(element) == int:
        the_integers.append(element)
    elif type(element) == float:
        the_floats.append(element)
    else:
        the_bools.append(element)

print(f"The strings are {the_strings}")
print(f"The integers are {the_integers}")
print(f"The floats are {the_floats}")
print(f"The booleans are {the_bools}")

The strings are ['a', 'b', 'c']
The integers are [2, 4, 6, 8, 10]
The floats are [4.5, 3.87, 11.73]
The booleans are [True, True, False]

In [4]:
#using dictionaries
all_data_types = {}
for item in data_types:
    if str(type(item)) not in all_data_types:
        all_data_types[str(type(item))] = []
    all_data_types[str(type(item))].append(item)
print(all_data_types)

{"<class 'str'>": ['a', 'b', 'c'], "<class 'int'>": [2, 4, 6, 8, 10], "<class 'bool'>": [True, True, False], "<class 'float'>": [4.5, 3.87, 11.73]}

## 4. Sorted lists

   Given this list: 
   `institutions = ["University of Glasgow", "University of Ibadan", "PWSA", "University of Rwanda"]`
                    
Print the ordered, and reverse ordered, list of institutions.

In [29]:
institutions = ["University of Glasgow", "University of Ibadan", "PWSA", "University of Rwanda"]

In [35]:
institutions.sort()
print(institutions)

['PWSA', 'University of Glasgow', 'University of Ibadan', 'University of Rwanda']

In [37]:
institutions.sort(reverse=True)

In [38]:
print(institutions)

['University of Rwanda', 'University of Ibadan', 'University of Glasgow', 'PWSA']

## 5. Random password

Write a function, `random_password`, that generates a random password with the following properties:
- each password should have a random length, of between 7 and 12 characters.
- each character of the password should be randomly selected from positions 33 to 126 of the ASCII table.

_Hints: use the random.randint(x, y) will generate a random number between x and y (inclusive); chr(n) will give you the _n_th character of the ASCII table._

In [7]:
import random

In [5]:
def random_password():
    password = ""
    for i in range(random.randint(7, 12)):
        rm = random.randint(33, 126)
        character = chr(rm)
        password += character
    return password

In [8]:
random_password()

"(E1V,'5d"

## 6. Good password

Write a function, `good_password` that determines whether or not a given password is "good". A password is "good" if it is:
- at least 8 characters long; and
- contains at least one uppercase letter, one lowercase letter, and at least one digit.

In [12]:
import string

In [13]:
def good_password(password):
    
    upper = 0
    lower = 0
    digit = 0
    
    if len(password) >= 8:
        for i in password:
            if i in string.ascii_uppercase:
                upper += 1
            elif i in string.ascii_lowercase:
                lower += 1
            elif ord(i) in range(48, 58):
                digit += 1
        if upper > 0 and lower > 0 and digit > 0:
            print("Good password")
        else:
            print("The length is ok but missing character combinations")
    else:
        print("The password length isn't up to 8 characters")
    return

In [14]:
password = random_password()
print(password)
print(len(password))
good_password(password)

c-Pq1<<1yo
10
Good password

In [1]:
# this is a note
#string.ascii_uppercase
#string.ascii_lowercase
#string.isdigit
#.isupper()
#.islower()
#.isdigit()

## 7. Words from keyboard rows

Write a function that, when given a list of words, returns a list containing only those words that can be typed using letters of the alphabet that occur on a single row of the standard English "qwerty" keyboard. Characters in each row can be used more than once. You can assume that input strings will only contain letters of the alphabet.

- row 1: qwertyuiop
- row 2: asdfghjkl
- row 3: zxcvbnm

For example, the word "data" does _not_ satisfy the constraint: "t" is not in the same row as "d" and "A". The word "type" _does_ satisfy the condition, since each letter is on the same row.

In [7]:
def qwerty_keyboard(word_list):
    row1 = "qwertyuiop"
    row2 = "asdfghjkl"
    row3 = "zxcvbnm"

    new_list = []

    for word in word_list:
        first_row = 0
        second_row = 0
        third_row = 0

        for character in word:
            if character in row1 and first_row < 1:
                first_row += 1
                #print(first_row)
            elif character in row2 and second_row < 1:
                second_row += 1
                #print(second_row)
            elif character in row3 and third_row < 1:
                third_row += 1
                #print(third_row)
        if first_row + second_row + third_row == 1:
            new_list.append(word)

    return new_list

In [12]:
word_list = ["gather", "tier", "bring", "prey", "jagaban", "jerry", "worry", "type", "data"]
qwerty_keyboard(word_list)

['tier', 'prey', 'worry', 'type']

In [7]:
rows = ["qwertyuiop", "asdfghjkl", "zxcvbnm"]

def keyboard_word(word):
    target_row = None
    for row in rows:
        if word[0] in row:
            target_row = row
    #print(target_row)
    for letter in word[1:]:
        if letter not in target_row:
            is_keyboard_word = False
    return is_keyboard_word

## 8. Finding missing numbers

Write a function that takes two lists, A and B, and that returns those numbers that do not appear in both lists. If a number occurs in one list, it must occur the same number of times in the other, otherwise the number is "missing". The function must return an ordered list of the missing numbers. Each missing number should only be printed once, even if it is "missing" multiple times.

As an example, suppose `A = [2, 4, 1, 5, 6, 1, 8, 9, 10, 1, 2]` and `B = [4, 6, 1, 2, 8, 9, 1]`. The missing numbers, in order, are `[1, 2, 5, 10]`.

In [14]:
first = [2, 4, 1, 5, 6, 1, 8, 9, 10, 1, 2]
second = [4, 6, 1, 2, 8, 9, 1]

list_one = {}
list_two = {}
result = []

for number in first:
    list_one[number] = list_one.get(number, 0) + 1
for number in second:
    list_two[number] = list_two.get(number, 0) + 1

for number in first:
    if number not in second or list_one[number] != list_two[number]:
        result.append(number)
for number in second:
    if number not in first:
        result.append(number)
print(sorted(set(result)))

[1, 2, 5, 10]

## 9. Flattening lists

Write a function, `flatten`, that "flattens" any list. A list is flat if it does not contain any nested list. A list that contains a nested list is flattened when the elements of any nested lists are removed, and put into a flat list.

For example, if `a = [[[1, 2, 3], [4, 5, 6], [7], [8, 9], 10]]`, then `flatten(a) = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

In [39]:
mylist = [[[1, 2, 3], [4, 5, 6], [7], [8, 9], 10]]

In [44]:
def flatten(l):
  flat_list = []
  for item in l:
    if isinstance(item, list):
      flat_list.extend(flatten(item))
    else:
      flat_list.append(item)
  return flat_list

In [45]:
flatten(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 10. Identical lists

Write a function, `identical`, that checks if two lists are _circularly identical_. A circular list is where we consider the first element as being next to the last element, forming a circle.

For example, if `a = [2, 0, 5, 10, 0, 5, 7, 10]` and `b = [10, 2, 0, 5, 10, 0, 5, 7]`, then `identical(a, b)` is `True`, since these lists are circularly identical. However, if `a = [10, 10, 5, 10]` and `b = [10, 10, 10, 0]`, then `identical(a, b)` is `False`.

## Optional: 11. Pattern

In this task, you are required to implement a function `detect_pattern` that determines whether two strings have the same pattern of characters. Two strings have the same pattern if they are of the same length, and, there are at least two characters in string `a` that are the same, and that at the same positions in string `b`, those characters are also equal to each other. 

For example, `aba` and `xyz` do not contain a pattern. Despite being the same length, we have the same characters at positions 0 and 2 in string 1, but the characters at positions 0 and 2 in string 2 are not the same.

`aba` and `xyx` _do_ have a pattern: they are the same length, and the characters in 0 and 2 in string 1 are equal, _and_ the characters at those positions in string 2 are also equal.

In [24]:
string_a = "edo"
string_b = "eden"

count = 0
same = []

if len(string_a) == len(string_b):
    count += 1

for i in string_a:
    for j in string_b:
        if i == j:
            if i not in same:
                same += 1
                same = ''.join(same)

same length
two same xters
same positions
equal to each other

"    \nfor i in string_a:\n    for j in string_b:\n        if i == j:\n            if i not in same:\n                same += 1\n                same = ''.join(same)\n"

In [25]:
count

0

## Optional: 12. Alphabet rangoli

*This one is really challenging!*

Write a function `rangoli` that prints an _alphabet rangoli_ of a specified size. Rangoli is a form of Indian folk art based on creating patterns. Different sizes of alphabet rangoli are shown:

```
rangoli(3)

- - - - c - - - -
- - c - b - c - -
c - b - a - b - c 
- - c - b - c - -
- - - - c - - - -

rangoli(4)

- - - - - - d - - - - - -
- - - - d - c - d - - - -
- - d - c - b - c - d - -
d - c - b - a - b - c - d
- - d - c - b - c - d - -
- - - - d - c - d - - - -
- - - - - - d - - - - - -
```

Think about how you can bring this problem down. Talk to the other members of your group, and your tutor for help: solving it together is allowed!

In [46]:
import string
def rangoli(n):
    needed_xters = string.ascii_lowercase[:n]
    middle_line = needed_xters[::-1] + needed_xters[1:]
    middle_line = " - ".join(middle_line)
    
    top_half = []
    bottom_half = []
    
    for i in range(1, n):
        this_line = needed_xters[i:]
        this_line = this_line[::-1] + this_line[1:]
        this_line = " - ".join(this_line)
        dashes = "-"*(i)*2
        this_line = " ".join(dashes) + " " + this_line + " " + " ".join(dashes)
        top_half = [this_line] + top_half
        bottom_half = bottom_half + [this_line]
        
    for line in top_half:
        print(line)
    print(middle_line)
    for line in bottom_half:
        print(line)

In [47]:
rangoli(4)

- - - - - - d - - - - - -
- - - - d - c - d - - - -
- - d - c - b - c - d - -
d - c - b - a - b - c - d
- - d - c - b - c - d - -
- - - - d - c - d - - - -
- - - - - - d - - - - - -