In today's exercises, we'll practice the material that was covered in this morning's lecture.

Some problems at the end of the exercise notebook are marked as _optional_. Your progress on those problems won't be assessed: these problems have been provided as an additional challenge for people that have found the earlier problems straightforward.

## 1. Fix the names

Write a function, `fix_names`, that takes a list of names, and returns the names properly formatted. A name is properly formatted if it has a capital letter at the beginning of each separate word.

For example, if `names = ["bob", "sofiat", "fionnuaLA", "aNgus"]`, then `fix_names(names) == ["Bob", "Sofiat", "Fionnuala", "Angus"]`.

You should use functional programming techniques to solve this problem.

In [90]:
names = ["bob", "sofiat", "fionnuaLA", "aNgus"]

In [91]:
#lambda function version
def fix_names(name):
    return list(map(lambda x: x.capitalize(), name))

In [92]:
fix_names(names)

['Bob', 'Sofiat', 'Fionnuala', 'Angus']

## 2. pi

Write a function, `pi_to_n`, that returns a list of _n_ values of pi, with increasing numbers of decimal places, starting with 3.14.

For example, `pi_to_n(3) == [3.14, 3.142, 3.1416]`.

You should use functional programming techniques to solve this problem.

_Hint: math.pi will give you the value of pi._

In [93]:
import math
def pi_to_n(n):
    return list(map(lambda n: round(math.pi, n), range(2, n+1)))

In [94]:
pi_to_n(3)

[3.14, 3.142]

## 3. zip

Write a function, `zip_the_lists`, that takes two lists, of the same length, and returns a single list, where each element is a tuple containing elements from the same position in each list.

For example, `zip_the_lists([1, 2, 3], [4, 5, 6]) == [(1, 4), (2, 5), (3, 6)]`.

You should use functional programming techniques to solve this problem.

In [4]:
def zip_the_lists(list_a, list_b):
    result = zip(list_a, list_b)
    return list(result)

In [5]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

In [6]:
zip_the_lists(list_a, list_b)

[(1, 4), (2, 5), (3, 6)]

In [32]:
# lambda and map
def zip_the_list(x, y):
    return list(map(lambda x, y: (x, y), x, y))

In [31]:
zip_the_list(list_a, list_b)

[(1, 4), (2, 5), (3, 6)]

## 4. Even numbers

Write a program that prints the first 200 even numbers.

You should use functional programming techniques to solve this problem.

In [64]:
def first_two_hun():
    two_hun = [i for i in range(2,402) if i%2 == 0]
    return print(two_hun[:202])

In [65]:
first_two_hun()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400]

In [109]:
def first_two_hundred():
    print(list(filter(lambda x: x%2 == 0, range(2, 400))))

first_two_hundred()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398]

## 5. Sum odd, sum even

Write a function, `sum_odd_sum_even`, that takes a list of integers, and returns a tuple that contains two values. The first value should be the sum of all of the even numbers in the list, and the second value should be the sum of all of the odd numbers in the list.

For example, `sum_odd_sum_even([5, 8, 32, 3, 2]) == (8, 42)`.

You should use functional programming techniques to solve this problem.

In [3]:
def sum_odd_sum_even(take_list):
    
    odd_numbers = 0
    even_numbers = 0
    
    for i in take_list:
        if i%2 == 0:
            even_numbers += i
        else:
            odd_numbers += i
    return (odd_numbers, even_numbers)

In [4]:
sum_odd_sum_even([5, 8, 32, 3, 2])

(8, 42)

#### The Lambda part in class

In [77]:
from functools import reduce

In [111]:
def sum_even_sum_odd(take_list):
    even = reduce(lambda x, y: y + x, list(filter(lambda x: x%2 == 0, take_list)))
    odd = reduce(lambda x, y: y + x, list(filter(lambda x: x%2 != 0, take_list)))
    return (even, odd)

In [112]:
sum_even_sum_odd([5, 8, 32, 3, 2])

(42, 8)

## 6. join

Write a function, `join_the_strings`, that takes a list of strings and a character, and returns a single string that has joined the strings together, separated by the character.

For example, `join_the_strings(["hello", "my", "name", "is", "bob"], '+') == "hello+my+name+is+bob"`.

You should use functional programming techniques to solve this problem.

In [53]:
def join_the_string(string, xter):
    return xter.join(string)

In [54]:
join_the_string(["hello", "my", "name", "is", "bob"], '+')

'hello+my+name+is+bob'

#### The Lambda part not done yet

In [115]:
# lambda version
def join_the_strings(string, xter):
    return reduce(lambda x,y: f"{x}{xter}{y}", string)

In [116]:
join_the_strings(["hello", "my", "name", "is", "bob"], '+')

'hello+my+name+is+bob'

## Optional: 7. Managing workshop participants

Let's imagine that you've decided to host a workshop to teach Python. You've decided to store participant information in a list of dictionaries, structured like this:

```
participants = [{"first_name": "Hester", "last_name": "Macdonald", "track": 1},
                {"first_name": "Dorian", "last_name": "Foster", "track": 2},
                {"first_name": "Conal", "last_name": "Delgado", "track": 2},
                {"first_name": "Aisha", "last_name": "Torres", "track": 2},
                {"first_name": "Adeline", "last_name": "Mcdougall", "track": 1},
                {"first_name": "Lola", "last_name": "Delaney", "track": 1},
                {"first_name": "Saim", "last_name": "Bone", "track": 2},
                {"first_name": "Jobe", "last_name": "Wills", "track": 1},
                {"first_name": "June", "last_name": "Rush", "track": 2},
                {"first_name": "Winifred", "last_name": "John", "track": 1}]
```

### 7.1 Mail merge

You want to send a message to all of the participants. You want the message to include their full name. To do this, you need to generate a list of all of the participants full names. Write a function that does this, using functional programming techniques.

For example, using the data above, you would produce this list: `["Hester Macdonald", "Dorian Foster", "Conal Delgado", "Aisha Torres", "Adeline Mcdougall", "Lola Delaney", "Saim Bone", "Jobe Wills", "June Rush", "Winifred John"]`.

In [95]:
participants = [{"first_name": "Hester", "last_name": "Macdonald", "track": 1},
                {"first_name": "Dorian", "last_name": "Foster", "track": 2},
                {"first_name": "Conal", "last_name": "Delgado", "track": 2},
                {"first_name": "Aisha", "last_name": "Torres", "track": 2},
                {"first_name": "Adeline", "last_name": "Mcdougall", "track": 1},
                {"first_name": "Lola", "last_name": "Delaney", "track": 1},
                {"first_name": "Saim", "last_name": "Bone", "track": 2},
                {"first_name": "Jobe", "last_name": "Wills", "track": 1},
                {"first_name": "June", "last_name": "Rush", "track": 2},
                {"first_name": "Winifred", "last_name": "John", "track": 1}]

In [101]:
def participants(dictionary):
    for key,value in data.items():
        print(key,value)

participants(participants)

AttributeError: 'function' object has no attribute 'dict'

In [121]:
def full_name(participants):
    return f"({participants["first_name"]} {participants["last_name"]})"

print(full_name({"first_name": "Hester", "last_name": "Macdonald", "track": 1}))

SyntaxError: f-string: unmatched '[' (2227239730.py, line 2)

In [ ]:
#lambda function

### 7.2 Group creator

Next, you want to split your participants into groups. Groups are allocated based on the first letter of each participant's name: a group will only contain participants whose names start with the same letter. To help with this, you need to generate a dictionary. The dictionary will contain a key corresponding to each letter of the alphabet, where the values are lists of participants assigned to the group.

For example, using the data above, you'd create a dictionary that included this key, value pair:
```
{ ..
  'J' : ["Jobe Wills", "June Rush"],
  ..
}
```

You should use functional programming techniques to solve this problem. Some groups might be empty, or include only one person -- that's OK for this exercise.

In [ ]:
def add_participants(participant_name):
    if participant_name[0] not in groups:
        groups[particpant]

## Optional: 8. Number swap

Write a function, `number_swap`, that takes two numbers, `a` and `b`. The function should swap digits in the first number with digits from the second, such that it generates the largest possible numbers. 

For example, `number_swap(6423, 551) == 6553`. Here, the 4 in the first number is swapped with a 5 from the second number. 2 in the first number is swapped for the other 5 in the second.

Note: we're only allowed to use each digit in the second number at most once. 

_You do not need to use functional programming techniques to solve this problem._

In [156]:
def number_swap(list1, list2):
    new_list = []
    for i in str(list1):
        for j in str(list2):
            if j[0] > i[0]:
                new_list.append(j)
            else:
                new_list.append(i)
    return new_list

In [157]:
number_swap(6423, 551)

['6', '6', '6', '5', '5', '4', '5', '5', '2', '5', '5', '3']

In [168]:
def number_swap(a, b):
    a = list(str(a))
    b = sorted(list(str(b)), reverse = True)
    #print(a,b)
    
    position_a = 0
    position_b = 0
    
    for position_a in range(len(a)):
        if a[position_a] < b[position_b]:
            a[position_a] = b[position_b]
            position_b += 1
            if position_b >= len(b):
                break
    return a

number_swap(6423, 551)

['6', '5', '5', '3']